@import '../../global.module';

.button {
  width: max-content;
  margin: 0.5rem;
  padding: 0.5rem 1rem;

  font-size: 1rem;
  color: $color-text;

  background-color: $color-secondary;
  border: none;
  border-radius: 1rem;

  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-secondary-hover;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.6;
  }
}