@import '../global.module.scss';

.button {
  width: max-content;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: $color-text;
  border: none;
  border-radius: 1rem;
  background-color: $color-secondary;
  transition: 0.3s;

  &:hover {
    background-color: $color-secondary-hover;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.6;
    cursor: auto;
  }
}