$font-primary: "Acme", sans-serif;
$font-accent: "Luckiest Guy", cursive;
$color-bg: #ffe45f;
$color-text: #fff9e1;
$color-text-hover: #ffc66f;
$color-secondary: #f99600;
$color-secondary-hover: #ea8c00;
$gap: 0.5rem;
$breakpoint-s: 36rem;
$breakpoint-m: 48rem;

body {
  font-family: $font-primary;
  font-size: 16px;
}